.header {
  height: 80px;
  background-color: #1c2b35;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header h1 {
  color: white;
}
span {
  color: yellowgreen;
}
.header a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  margin-right: 36px;
}

.header a:hover {
  color: orange;
}
